<button type="button" id="user-button" class="btn btn-primary dropdown-toggle p-2" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
    <i class="bi bi-person-circle"></i>
    Iniciar Sesion
</button>
<form action="accounts/login/" method="post" class="dropdown-menu dropdown-menu-end p-4">

    {% csrf_token %}
    <div class="mb-3">
    <label for="username" class="form-label">Usuario</label>
    <input type="text" name="username" class="form-control" id="username" placeholder="Usuario">
    </div>
    <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Contraseña">
    </div>
    {% if failed_login %}
    <p class="failed-text">
        Usuario y/o contraseña incorrecta.
    </p>
    {% endif %}
    <div class="mb-3">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">
                Recordarme
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
    <p>¿No tienes cuenta? <a href="/register"> <br>Registrate</a></p>
</form>
