<button type="button" class="btn btn-primary dropdown-toggle p-2" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
    <i class="bi bi-person-circle"></i>
    {{ request.user.username }}
</button>
<div class="dropdown-menu">
    {% if user.is_staff %}
    <button class="btn dropdown-item" onclick="location.href='/admin/'">
        Administración
    </button>            
    {% endif %}
    {% with request.resolver_match.view_name as view_name %}
        {% if view_name != "index" %}
            <button class="btn dropdown-item" onclick="location.href='/'">
                Inicio
            </button>            
        {% endif %}
        {% if view_name != "surveys" %}
            <button class="btn dropdown-item" onclick="location.href='/surveys/list'">
                {% if user.is_superuser %}
                    Examinar Quizes
                {% else %}
                    Mis Quizes
                {% endif %}
            </button>            
        {% endif %}
    {% endwith %}
    <button class="btn dropdown-item" onclick="location.href='/create-survey'">
        Crear Quiz
    </button>            
    <form action="/accounts/logout/" method="post" class="dropdown-item p-0">
        {% csrf_token %}
        <button type="submit" class="btn dropdown-item">Salir</button>
    </form>
</div>
