{% extends 'quiz/head.html' %}

{% block content %}
{% include 'quiz/header.html' %}

<main class="container-fluid bg-primary vh-100"> 
    <div class="row justify-content-md-center bg-danger vh-100">
        <div class="d-flex flex-column bg-warning justify-content-center align-items-center w-75"> 
            <h1>QApp</h1>
            <p> ¡Prueba tu Conocimiento!</p>
            <div class="d-flex flex-column">
            <form action="quiz/start" method="post" class="d-flex flex-column flex-align-items-stretch">
                {% csrf_token %}
                <button class="btn btn-primary btn-lg m-1">INICIAR</button>
            </form>
                <button class="btn btn-info btn-lg m-1" data-bs-toggle="modal" data-bs-target="#instructions">INSTRUCCIONES</button>
            </div> 
        </div>
    </div>
</main>
<!-- Modal -->
<div class="modal fade" id="instructions" tabindex="-1" aria-labelledby="instrLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="instrLabel">¿Como Jugar?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
