{% extends 'quiz/head.html' %}
{% load static %}

{% block view_stylesheet %} {% static 'quiz/css/index.css' %} {% endblock %}
{% block content %}

{% include 'quiz/header.html' %}

<main class="container vh-100 bg-transparent "> 
    <div class="row h-100 align-items-center p-2">
    <div class="container col-sm-11 col-lg-6 main-container py-4">
        <div class="row justify-content-center p-3">
            <object class="col col-sm-8 col-lg-8" data="{% static 'quiz/img/logo.svg'%}"></object>
        </div>
        <div class="container">
            <form action="quiz/start" method="post" class="row justify-content-center">
            {% csrf_token %}
                <div class="col-6 bg-warning">
                    <div class="row justify-content-center">
                {{ survey.topic}}
                    </div>
                    {% if failed_load_game %}
                    <!-- 
                        TODO: Create Failed Message 
                        It must says if currently there are no test of a 
                        given topic.
                    -->
                    {% endif %}
                </div>
                <div class="col-12"></div>
                <button class="btn btn-primary  m-1 col-10 col-sm-4 ">INICIAR</button>
            </form>
            <div class="row justify-content-center">
                <button class="btn btn-info m-1 col-10 col-sm-4" data-bs-toggle="modal" data-bs-target="#instructions">INSTRUCCIONES</button>
            </div>
        </div> 
    </div>
    </div>
</main>

<!-- Modal -->
<div class="modal fade main-modal" id="instructions" tabindex="-1" aria-labelledby="instrLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-lshades">
            <div class="modal-header">
                <h3 class="modal-title m-title col-12" id="instrLabel">¡Bienvenido a Bioquiz!</h5>
            </div>
            <div class="modal-body">
                <div id="carouselInfo" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex justify-content-center">
                                <div class="col-8"> 
                                    <h4 class="h4-title">
                                        ¿Que tanto sabes de los ecosistemas colombianos?
                                    </h4>
                                    <hr>
                                    <p class="info-text"> 
                                        Puedes escoger uno de los temas disponibles y 
                                        poner a prueba tus conocimientos.
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center">
                                <div class="col-8">
                                    <h4 class="h4-title">
                                        ¿Como jugar?
                                    </h4>
                                    <hr>
                                    <p class="info-text"> 
                                        Para jugar, tienes que crear una cuenta, es gratis. 
                                        <br><br>
                                        Escoge un tema, y responde las preguntas, 
                                        ¡Tienes 15 segundos para cada una!
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center">
                                <div class="col-8">
                                    <h4 class="h4-title">
                                        ¿Te interesa crear tus propios quices?
                                    </h4>
                                    <hr>
                                    <p class="info-text"> 
                                        Si tienes una idea, y te gustaria compartirla, 
                                        puedes crear tus propios quices.
                                        <br><br>
                                        En el menu de tu perfil encontraras una opción
                                        para crear y consultar tus quices.
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselInfo" data-bs-slide="prev">
                        <span><i class="bi bi-caret-left-fill info-icon" aria-hidden="true"></i></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselInfo" data-bs-slide="next">
                        <span><i class="bi bi-caret-right-fill info-icon" aria-hidden="true"></i></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{% if pop_up_login %}
    <script>
    function pleaseLogIn() {
        document.getElementById("user-button").click()
    }
    pleaseLogIn()
    </script>
{% endif %}
{% endblock %}
