<div class="container">
    <h1 class="h1-title">Lista de Quizes</h1>
    <hr>
    <div class="container p-1">
        <h2 class="h2-title">Seleccionar tema</h2>
        <form class="d-flex p-1" action="/surveys/list" method="get">
            <div class="select-topic">{{ survey.topic}}</div>
            <button class="btn btn-info col-2 p-0">FILTRAR</button>
        </form>
    </div>
    <hr>
    <div class="container m-1 p-1">
        <h2 class="h2-title">Ultimas encuestas añadidas</h2>
        <table class="table table-striped score-table">
            <thead>
                <tr class="t-header">
                    <th class="t-header-col" scope="col">Nombre</th>
                    <th class="t-header-col" scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr class="t-row">
                    <td><a href="list/{{object.topic}}/{{object.id}}">{{ object.name}}</a></td>
                    <td>{{ object.get_status_display}}</td>
                </tr>
            {% empty %}
                <tr class="t-row">
                    <td>No hay encuestas por el momento</td>
                    <td>N/A</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
</div>
