{% extends 'quiz/head.html' %}
{% load static %}

{% block view_stylesheet %} {% static 'quiz/css/surveys.css' %} {% endblock %}
{% block content %}

{% include 'quiz/header.html' %}
<main class="container min-vh-100 bg-transparent "> 
    <div class="row  align-items-center p-2">
        <div class="container col-sm-11 col-lg-6 main-container py-4">
            {% if user.is_superuser %}
                {% include 'quiz/survey_list_suser.html' %}
            {% else %} 
                {% include 'quiz/survey_list_user.html' %}
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
