.main-container {
    background-color: rgba(var(--light-shades), 0.5);
    border-radius:7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-modal {
    background-color: rgba(var(--dark-shades), 0.2);
}

.m-title {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    color: rgb(var(--dark-shades));
}

.h4-title {
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: rgb(var(--main-color));
    margin-bottom: 1.2em;
    margin-top: 1.2em;
}

.info-text {
    text-align: justify;
    color: rgb(var(--dark-shades));

}

.info-icon {
    font-size: 3em;
    color: rgb(var(--dark-accent));
}

.failed-text {
    color: red;
    text-align: center;
    font-size: 1em;
