.main-container {
    background-color: rgba(var(--light-shades), 0.5);
    border-radius:7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.question-text {
    color: rgb(var(--dark-shades));
    text-align: center;
}

.label-timer {
    font-size: 1.5em;
    color: rgb(var(--dark-shades));
    text-align: center;
}

#timer {
    color: rgba(var(--light-accent),0.8);
    text-shadow: 1px 1px 1px rgb(var(--dark-shades));
    font-size: 4em;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas;
    background-color: rgba(var(--main-color), 0.2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: transparent;
    text-align: center;
}
