.main-container {
    background-color: rgba(var(--light-shades), 0.7);
    border-radius:7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 2em;
}

.score-text {
    color: rgb(var(--dark-shades));
    text-align: center;
}

.score {
    color: rgb(var(--dark-shades));
    font-size: 3.5em;
    text-shadow: 1px 1px 1px rgb(var(--light-shades));
    padding: 0em;
    background-color: rgba(var(--main-color), 0.2);
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas;
    text-align: center;
}

.score-table {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.t-header {
    background-color: rgba(var(--dark-shades), 0.7);
    color: rgb(var(--light-shades));
}

.t-row:nth-child(odd) {
    background-color: rgba(var(--main-color), 0.45);

}
.t-row:nth-child(even) {
    background-color: rgba(var(--dark-accent), 0.45);
}
